@model double
<body>
    <div class="text-center">
        <h1 class="display-4">Your order has been sent!</h1>
        <h3 class="display-4">To pay: @Model uah</h3>
        <div style="font-size:16px"><a href="/Home/Index">Back to the main page</a></div>
    </div>
</body>
